<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <style>
            table { font-family: "Lato","sans-serif";
                    margin-bottom: 3em;
                    border-collapse: collapse;   }  
            
            td {    width: 10em;                   
                    padding: 1em;       }   
                    
            th {    text-align: center;                
                    padding: 1em;
                    background-color: #e8503a;       
                    color: white;       } 
                    
            tr {    height: 1em;    }
            
            table tr:nth-child(even) {  background-color: #eee;     }

            table tr:nth-child(odd) {   background-color:#fff;      }
        </style>
    </head>
    <body>
        <table style="width:100%">
            <tr>
                <th>id</th>
                <th>subject</th> 
                <th>created_on</th>
                <th>project</th> 
                <th>sender</th>
                <th>assignee</th>
                <th>comment</th>
            </tr>
    {{#tickets}}
            <tr>
                <!-- {{order_id}} -->
                <td><a href="{{id}}">{{id}}</a></td>
                <td>{{subject}}</td> 
                <td>{{created_on}}</td>
                <td>{{project}}</td> 
                <td>{{sender}}</td>
                <td>{{assignee}}</td>
                <td>{{{comment}}}</td>
            </tr>
    {{/tickets}}
        </table>
    </body>
</html>